@font-face {
    font-family: 'Poppins';
    src: url('../styles/fonts/Poppins/PoppinsLatin-Black.otf')
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/Poppins/PoppinsLatin-BlackBold.otf')
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/Poppins/PoppinsLatin-BlackItalic.otf')
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/Poppins/PoppinsLatin-BoldItalic.otf')
    font-weight: bold;
    font-style: italic;
}

:root {
    --breadcrumb-color_primary: #CDECFF;
    --breadcrumb-color_secondary: #00449E;
    --banner-color: #FFD700;
    --introduction-color: #CDECFF;
    --today-color_title: #FFD700;;
    --today-color_primary: #FFDFDF;
    --today-color_secondary: #a55043; 
    --this-week-color_title:  #FBF1A9;
    --this-week-color_primary: #FFFCEB;
    --this-week-color_secondary: #c15195;
    --this-month-color_title:  #FBF1A9;
    --this-month-color_primary: #FFFCEB;
    --this-month-color_secondary: #c15195;
    --next-month-color_title: #d5eaff;
    --next-month-color_primary: #5c5b75;
    --next-month-color_secondary: #357EDD;
    --primary-font: 'Arial';
    --font-size: 24px;
}

body, html {
          margin: 0;
          padding: 0;
      }

/* halftone taken from istockphoto: https://media.istockphoto.com/vectors/grunge-halftone-print-pattern-background-vector-id485280906 */
      body {
          background: linear-gradient(to bottom, RGBA(53, 126, 221, 0.85) 0%,  rgb(255,163,215, 0.65) 100%), url('/styles/assets/halftone-pattern.jpeg'); 
          font-family: var(--primary-font);
          font-size: var(--font-size);
      }

      h1, h2, h3 {
          margin: 0;
      }
      h2 {
          text-align: center;
          font-size: 2.5em;
          font-weight: lighter;
      }

      ul{
          list-style-type: none;
          padding-left: 0;
      }

      li {
          padding-top: 1.3em;
          padding-bottom: 1.3em;
      }

#breadcrumb {
    color: var(--breadcrumb-color_primary);
    font-size: 16px; 
    text-align: right;
    padding-right: 0.5em;
    font-style: italic;
}

#breadcrumb a{
    color: var(--breadcrumb-color_secondary);
}

#banner {
    color: var(--banner-color);
}

#banner pre{
    margin: 0;
    padding: 5em;
    font-size: 0.8vw;
}

#introduction{
    background-size: contain;
    color: var(--introduction-color);
    margin-top: 0;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-style: italic;
    margin: 0;
    font-size: 0.9em;
}

@media (min-width: 800px) {
    #events {
        width: 70%;
        margin: auto;
        font-size: 45px;
    }
}

@media (min-width: 667px) {
    #events {
        width: 90%;
        margin: auto;
        font-size: 45px;
    }
}

.vevent{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255,255,255,0.07) 100%);
    padding: 0.5em;
}
.event-date {
    margin-top: 0;
    margin-bottom: 0.25em;
    padding-top: 0;
    padding-left: 1em;
}

.location-title {
    margin-top: 0;
}

#today {
    margin: 0;
    color: var(--today-color_primary);
    padding: 1em;
}

#today h2{
    color: var(--today-color_title);
}

#today ul{
    list-style-type: none;
    padding-left: 0;
}

#today h3{
    color: var(--today-color_primary);
}

#today .event-date{
    color: var(--today-color_secondary);
}

#today .location {
    color: var(--today-color_secondary);
}

#this-week {
    margin: 0;
    color: var(--this-week-color_primary);
    padding: 1em;
}

#this-week h2{
    color: var(--this-week-color_title);
}
#this-week .event-date{
    color: var(--this-week-color_secondary);
}

#this-week .location {
    color: var(--this-week-color_secondary);
}

#this-month {
    margin: 0;
    color: var(--this-month-color_primary);
    padding: 1em;
}

#this-month h2{
    color: var(--this-month-color_title);
}
#this-month .event-date{
    color: var(--this-month-color_secondary);
}

#this-month .location {
    color: var(--this-month-color_secondary);
}

#next-month {
    margin: 0;
    color: var(--next-month-color_primary);
    padding: 1em;
}

#next-month h2{
    color: var(--next-month-color_title);
}
#next-month .event-date{
    color: var(--next-month-color_secondary);
}

#next-month .location {
    color: var(--next-month-color_secondary);
}
