body#about-me {
  background: linear-gradient(to top right, #c2aed6, #F0FAE6,#EEEEF2,#EAEAF6,lavender);
  font-family: var(--primary_text);
}

#about-me h1 {
  margin-top: 2em;
  font-family: var(--title-text);
  letter-spacing: 3px;
  font-size: 2em;
  color: #433633;
}

#about-me em {
  font-weight: 200;
  font-size: 1.1em;
}

#about-me a:after{
  color: #946e83;
}

#about-me article {
  width: 70%;
  margin: auto;
  margin-bottom: 3em;
}
#about-me article p {
  line-height: 1.4;
}
@media (max-width: 667px) {
  #about-me article {
    width: 90%;
    font-size: 22px;
  }
}


