:root {
       --primary_bg: peachpuff;
       --primary_color: indigo;
       }
body {
      background: var(--primary_bg);
      color: var(--primary_color);
      font-size: 26px;
      }

article {
         max-width: 960px;
         margin: 1.5em;
         }


p {
   line-height: 1.2rem;
   }
section p:first-of-type {
                margin-top: 3em;
                padding-top: 3em;
                padding-right: 1.5em;
                }

section {
         padding-top: 0;
         padding-bottom: 1.5em;
         margin-bottom: 0;
         position: relative;
         }

header {
        position: relative;
        min-height: 100px;
        }


h1 {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 2.5em;
    }
h1 span.sub-sect {
                  margin-left: 0.25em;
                  color: var(--primary_bg);
                  -webkit-text-stroke: 1px var(--primary_color);
                  text-stroke: 1px var(--primary_color);
                  }

div.dotted-divider {
                    height: 50px;
                    background-image: radial-gradient(var(--primary_color) 15%, transparent 16%),
                    radial-gradient(var(--primary_color) 15%, transparent 16%);
                    background-size: 20px 10px;
                    background-position: 12px 14px, 2px 4px;
                    }

section h2 {
            position: relative;
            padding: 0.5em;
            margin-left: 1.5em;
            float: right;
            display: flex;
            flex-direction: column;
            font-size: 2vw;
            font-weight: bold;
            text-align: right;
            width: 20%;
            min-height: 250px;
            border: 1px solid var(--primary_color);
            background: var(--primary_bg);
            }

section h2 span {
                 margin: -0.5em -0.5em auto -0.5em;
                 min-height: 100px;
                 display: flex;
                 flex-direction: column;
                 justify-content: flex-end;
                 padding-right: 0.5em;
                 padding-bottom: 0.5em;
                 background: var(--primary_color);
                 color: var(--primary_bg);
                 }

section h2 > span.dotted-pattern {
                                  margin: 0;
                                  background: transparent;
                                  position: absolute;
                                  height: 98%;
                                  width: 95%;
                                  top: 5px;
                                  right: 5px;
                                  background-color:none;
                                  background-image: radial-gradient(var(--primary_color) 15%, transparent 16%),
                                  radial-gradient(var(--primary_color) 15%, transparent 16%);
                                  background-size: 7px 8px;
                                  background-position: 11px 11px, 14px 14px;
                                  z-index: -1
                                  }

figure {
        max-width: unset;
        width: 80vw;
        margin-top: 3em;
        }

figure img {
            width: 100%;
            max-width: unset;
            margin: auto;
            border: 3px solid var(--primary_color);
            }

figcaption {
            position: relative;
            display: flex;
            justify-content: center;
            border: 1px solid var(--primary_color);
            font-size: 0.8em;
            background: var(--primary_bg);
            }
figcaption span.dotted-pattern {
                                margin: 0;
                                background: transparent;
                                position: absolute;
                                height: 102%;
                                width: 102%;
                                top: 0.5em;
                                right: 0.25em;
                                background-color:none;
                                background-image: radial-gradient(var(--primary_color) 15%, transparent 16%),
                                radial-gradient(var(--primary_color) 15%, transparent 16%);
                                background-size: 5px 5px;
                                background-position: 11px 11px, 14px 14px;
                                z-index: -1;
                                }

@media (max-width: 667px) {
                           body {
                                 font-size: 20px;
                                 }
                           h1 {
                               font-size: 1.5em;
                               flex-direction: column;
                               margin-top: 3em;
                               padding-left: 0.5em;
                               }
                           p {
                              line-height: 1rem !important;
                              }
                           article{
                                   margin: 0;
                                   }

                           section {
                                    padding: 1.5em;
                                    }
                           section h2 {
                                       padding: 0.5em;
                                       margin: auto;
                                       min-height: 100px;
                                       width: 80%;
                                       font-size: 1.3em;
                                       float: unset;
                                       margin-bottom: 3em;
                                       margin-top: 3em;
                                       }
                           section h2 span {
                                            display: flex;
                                            margin: -0.5em -0.5em auto -0.5em;
                                            padding-right: 0.5em;
                                            padding-bottom: 0.5em;
                                            min-height: unset;
                                            flex-direction: column;
                                            justify-content: flex-end;
                                            background: var(--primary_color);
                                            color: var(--primary_bg);
                                            }

                           section h2 > span.dotted-pattern {
                                                             margin: 0;
                                                             background: transparent;
                                                             position: absolute;
                                                             height: 98%;
                                                             width: 95%;
                                                             top: 5px;
                                                             right: 5px;
                                                             background-color:none;
                                                             background-image: radial-gradient(var(--primary_color) 15%, transparent 16%),
                                                             radial-gradient(var(--primary_color) 15%, transparent 16%);
                                                             background-size: 7px 8px;
                                                             background-position: 11px 11px, 14px 14px;
                                                             z-index: -1
                                                             }
                           }
