<h1 id="currently-reading">Currently Reading</h1>
<h2 id="starseeds">Starseeds</h2>
<h1 id="recent-reads">Recent Reads</h1>
<h2 id="what-the-dormouse-said">What the Dormouse Said</h2>
<h1 id="touchstones">Touchstones</h1>
<p>These are essential reads</p>
<h2 id="a-prehistory-of-the-cloud">A Prehistory of the Cloud</h2>
<h3 id="notes">Notes</h3>
<p>A radical and life-changing collage of internet history. Traces the origins of 'the cloud' as an idea and force in the world today. Tung Hui-Hu is a network engineer and English professor, and so the history draws equally from computing as it does railroads, victorian sewers, and 1970's countercultural performance artists.</p>
<p>This book feels like a mix between Uncle John's Bathroom Reader and a Noam Chomsky lecture. It has this ability to draw interesting parallels among the random facts about the internet and the creation of the cloud, and as the book goes on, this trivia starts to gather an incredible combined weight. Through this trick, Tung is able to make complex poltical and artistic points that are more understood in the gut than explicitly stated. All in all: a powerful, pleasantly short read that I literally recommend to anyone I talk to.</p>
<h1 id="talismans">Talismans</h1>
<p>These are power books. Filled with magic</p>
