/* Kick Ass Fonts */
@font-face{
    font-family: IntervalBook;
    src: url('/interval/Interval.otf'); }
    
@font-face{
    font-family: IntervalBold;
    src: url('/interval/IntervalBold.otf'); }

@font-face{
    font-family: IntervalSlanted;
    src: url('/interval/IntervalSlanted.otf'); }

@font-face{
    font-family: IntervalBoldSlanted;
    src: url('/interval/IntervalBoldSlanted.otf'); }


/* Global */

.bigfont{
    font-size: 800%; }

    
body{
	position: relative;
	font-family: IntervalBook;
	font-size: 16px;
    font-kerning: normal;
    padding: 10px; 
    /*background-color: aliceblue; */}
    

    
p{
	margin-top: 25px;
	margin-bottom: 25px;
	line-height: 32px; }
	
li{
	margin-bottom: 15px; }
	
ul{
	font-family: IntervalBook;
	font-size: 16px; }
	
.breadcrumb{
	text-align: right; 
	font-size: 11px; 
	margin-top: 10px;
	margin-right: 10px; }
	
.centered{
    margin-left: auto;
    margin-right: auto; 
    text-align: center;}
    
.left{
    text-align: left; }
.two-columns{
    width: 80%;
    display: flex; 
    flex-direction: row;
    justify-content:space-between;}
.column{
    width: 40%; 
    text-align: left;
    display: flex;
    flex-direction: column;}
    
#immediacy 
#immediacy .sweet { display: none;}
    
/* End Globalization */	

/* Homepage */
.titlebox{
	min-height: 125px;
	max-width: 800px;
	display: flex;
	border: 2px solid;
	margin: 20px 40px 0 40px; }
	
.titlebox-small{
	height: 100px;
	max-width: 350px;
	display: flex;
	border: 2px solid;
	margin: 20px 40px 0 40px; }

.titlebox-left{
	width: 30%;
	display: flex;
	justify-content: space-around;
	border-right: 2px solid; }
	
.title{
	font-family: IntervalBoldSlanted;
	color: rgba(0,  0,  255, 0.67);
	font-size: 1.25em;
	margin: auto;
	padding: 7px; 
    text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white; }
    
code{
    color: red;
}
.title-long{
	font-family: IntervalBoldSlanted;
	color: rgba(0,  0,  255, 0.67);
	font-size: 200%;
	margin: auto;
	padding: 7px; 
    text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white; }

.titlebox-right{
	display: flex;
	justify-content: space-around;
	margin-top: auto;
	margin-bottom: auto; }
	
.subtitle{
	font-family: IntervalSlanted;
	color: rgba(0,  0,  255, 0.67);
	font-size: 1em;
	padding-left: 20px; }

#boxes {
	margin: auto;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; }
	
#boxes .box{
	flex: 0 1 auto;
	width: calc(100 / 3); }
/* end homepage */

/* introduction */
.scrapbookdiv{
    display: flex;
    flex-direction: row; }
    
.leftcol{
    width: 50%; }
    
.rightcol{
    width: 50%;
    text-align: left;
    float: left; }
    
.emphasisline{
    width: 75%;
    margin: auto;
    padding-top: 20px; }

.aside{
    background-color: rgba(225, 241, 253, 0.62); }

.section-header{
    padding-top: 50px; }

.intro-body{
    max-width: 960px;;
    margin: auto; }
    
.garden-cutting{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    
.garden-divider{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
/* end introductions */
	
/*Pick up yr pencil and start writing */	
.titlebox-left-long{
	display: flex;
	width: 200px;
	justify-content: space-around;
	border-right: 2px solid;}

.titlebox-right-links{
	margin-top: auto;
	margin-bottom: auto; }
	
.titlebox-writing-piece{
	min-height: 50px;
	max-width: 800px;
	display: flex;
	border-left: 2px solid #4ec3d2;
	border-bottom: 2px solid #4ec3d2;
	margin: 40px auto 0 40px; }
	
.titlebox-left-writing-piece{
	width: 1%;
	border-top: 2px solid #4ec3d2;
	border-right: 2px solid #4ec3d2;
	background-color: rgba(77,  194,  209, 0.31); }

.titlebox-right-writing-piece{
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 100%; }
  
.title-writing-piece{
	text-align: left;
	font-family: IntervalBook;
	font-size: 1em;
	margin: auto 10px auto 10px; }
/* end writing */
	
/* diary */
.titlebox-diary{
	height: 100px;
	max-width: 350px;
	display: flex;
	border: 2px solid #d1a54d;
	margin: 20px 40px 0 40px; }
	
.titlebox-left-diary{
    width: 100px;
	display: flex;
	justify-content: space-around;
	border-right: 2px solid #d1a54d;
	background-color: rgba(209, 165, 77, 0.44);}
	
.title-diary{
	font-family: IntervalBoldSlanted;
	color: #d1a54d;
	text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white;
	font-size: 130%;
	margin: auto; }
	
.subtitle-diary{
	font-family: IntervalSlanted;
	color: #d1a54d;
	font-size: 100%;
	padding-left: 10px; }

.title-inner-home-section{
	font-family: IntervalBoldSlanted;
	margin: auto;
	color: #4ec3d2;
	text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white;
	font-size: 130%; }
	
.title-inner-entry{
	font-family: IntervalBoldSlanted;
	font-size: 130%; }
/* end diary */

/* Boardgames */
.titlebox-boardgames{
	height: 100px;
	max-width: 350px;
	display: flex;
	border: 2px solid #b13dd1;
	margin: 20px 40px 0 40px; }
	
.titlebox-left-boardgames{
	display: flex;
	justify-content: space-around;
	border-right: 2px solid #b13dd1;
	background-color: rgba(177, 61, 209, 0.26);}
	
.title-boardgames{
	font-family: IntervalBoldSlanted;
	color: #b13dd1;
	padding: 10px;
	text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white;
	font-size: 130%;
	margin: auto; }
	
.subtitle-boardgames{
	font-family: IntervalSlanted;
	color: #b13dd1;
	font-size: 100%;
	padding-left: 10px; }

.title-inner-home-section{
	font-family: IntervalBoldSlanted;
	margin: auto;
	color: #4ec3d2;
	text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white;
	font-size: 130%; }
	
.title-inner-entry{
	font-family: IntervalBoldSlanted;
	font-size: 130%; }

.titlebox-toc{
	height: 125px;
	max-width: 800px;
	display: flex;
	border: 2px solid rgba(0, 0, 255, 0.44);
	margin: 20px 40px 0 40px; }
/* end boardgames */

/* Movies */
.titlebox-movies{
	height: 100px;
	max-width: 350px;
	display: flex;
	border: 2px solid #d6d659;
	margin: 20px 40px 0 40px; }
	
.titlebox-left-movies{
	display: flex;
	justify-content: space-around;
	border-right: 2px solid #d6d659;
	background-color: rgba(212, 212, 53, 0.31);}
	
.title-movies{
	font-family: IntervalBoldSlanted;
	color: #d6d659;
	padding: 10px;
	text-shadow: 0 -1px white, 0 1px white, 0 1px white, 0 -1px white;
	font-size: 130%;
	margin: auto; }
	
.subtitle-movies{
	font-family: IntervalSlanted;
	color: #d6d659;
	font-size: 100%;
	padding-left: 10px; }
/* end movies */

/* miscellany */

.titlebox-home-sections{
	max-width: 400px;
	display: flex;
	border: 2px solid #4ec3d2;
	margin: 20px 40px 0 40px;
}
.titlebox-entry{
	max-width: 100%;
	display: flex;
	border: 2px solid #4ec3d2;
}


.titlebox-left-home-section{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-right: 2px solid #4ec3d2;
	background-color: rgba(77,  194,  209, 0.31);
}
.titlebox-left-entry{
	width: 10px;
	display: flex;
	justify-content: space-around;
	background-color: #4ec3d2;
}


.titlebox-right-entry{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: auto 0 0 10px;
}

.twopane{
	margin: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px;
	min-height: 200px;
}

.textblock{
	flex: 1 300px;
	min-width: 70%;
	text-align: left;
	padding-left: 40px;
	padding-right: 40px;
}
.dancingboy-div{
	flex-basis: 30%;
	display: flex;
	min-height: 300px;
	min-width: 20%;
	flex: 1 300px;
	flex-direction: column;
	align-items: flex-start;
}
.dancingboy-image{
	margin-left: -70px;
    margin-top: auto;
	max-width: 300px;
}
.cool-link{
	color: #4ec3d2;
	text-decoration: none;
	font-family: IntervalBold;
	font-size: 15px;
}

.collection-list{
	width: 80%;
	margin: 120px 10px 60px 40px;
}

.cool-link-collection{
	color: #4ec3d2;
	text-decoration: none;
	font-family: IntervalSlanted;
	font-size: 16px;
}

.thepiece{
	max-width: 800px;
	margin: 40px auto 0 40px;
	text-align: -webkit-left;
	font-family: IntervalBook;
	font-kerning: normal;
	letter-spacing: -1px;
	line-height: 32px; }
	
.img-center{
	display: block;
	width: 50%;
	margin: 0 auto 0 auto;
}
/* Movies I wanna See */
.movie-div{
	max-width: 800px;
	min-height: 600px;
	background-color: white;
	margin: auto;
	text-align: center;
	font-family: monospace }
.movie-ul{
	width: 25%;
	margin: auto;
	font-family: monospace;
    font-size: 20px; }

.movie{
	background-image: url( '/images/star1.gif');	
    padding: 10px; }
/* Let's leave the movies */

/* Cybermesa Library */
    
.galactic {
	 background-image: url("https://68.media.tumblr.com/19b3eb0a9cd986e7a876e79a44907a89/tumblr_inline_n258vwc6Sd1qhwjx8.png");
	 background-repeat: repeat-x repeat-y;
	 background-size: contain;
	 text-align: center;
	 color: black;
	 font-size: 20px;
	 font-family: monospace; }
	 
starcloud-bg {
	background-image: url(./images/dark-sky.jpg);
	background-repeat: repeat-x repeat-y;
	background-size: contain;
	color: white;
        font-family: IntervalBook; }

.starcloud-notes {
	background-image: url(/images/dark-sky.jpg);
	background-repeat: repeat-x repeat-y;
	background-size: cover;
	color: white;
    font-family: IntervalBook; }
	
.star-tree-bg{
	background-image: url(images/star6.gif);
	background-repeat: repeat-x repeat-y;
	background-size: contain;
	text-align: center;
	color: black;
	font-family: monospace; }

.bordered{
	border-bottom: 2px black;
	border-bottom-style: dotted; }	

.lefty{
	position: absolute;
	left: 0px; }

.stippled{
	border: white dotted 1px;
	margin: 20px; }
	
.stipple-left{
	border-left: white dotted 1px; }
	
    
.spaced{
	display: inline-block;
	width: 200px;
	height: 300px;
	margin-bottom: 2px;
	margin-left: 40px;
	margin-right: 40px; }
	
.caption{
	color: white;
	display: block;
	font-size: 12px;
	width: 200px;
	padding: 10px; 
	margin: auto;
	text-align: center; }

.note-link{
    color: #f7ff00;
    margin-top: -15px; }

.notes{
    display: flex;
    flex-direction: row;
    }
	
/* Reading is for Nerds */

/* Links */
.link-link{
    font-size: 1.2em;
    line-height: 0px;
    margin-top: 2em; }

.link-link2{
    font-size: 1.2em;
    line-height: 0px;
    margin-top: 0.1em; }
      
.link-description{
    margin-top: 0px;
    padding-top: 7px;
    font-size: .9em;
    line-height: 1.5em; }
    
.link-heading{
    padding: 7px; 
    margin-top: 50px;
    margin-bottom: 30px;
    width: intrinsic; }
    
/* Colors! */

.bands-softest{
    background-color: hsla(64, 100%, 92%, 1)
}

.friends{
    color: #489835; }

.friends-soft{
    background-color: rgba(74,  153,  54, 0.35);}
    
.friends-softest{
    background-color: rgba(74, 153, 54, 0.19); }
    
    
.main {
    color: blue; }
    
.main-box{
   color: rgba(0, 0, 255, 0.44); }

.music-softest{
    background-color: #c8c8f0;
}
   
.rituals{
    color: #000582; 
    text-shadow: none;}

.rituals-soft{
    background-color: rgba(0, 16, 130, 0.44); }
    
.tools-softest{
    background-color: #ddbbdd; }
    
.writing{
    color: #4ec3d2; }

.writing-soft{
    background-color: rgba(77,  194,  209, 0.31);}


@media (max-width: 667px){
	.title{
		font-size: 0.75em;
		padding: 1px;
	}
	.subtitle{
		font-family: IntervalSlanted;
		color: rgba(0,  0,  255, 0.67);
		font-size: 0.7em;
		padding: 1px;
		padding-left: auto; }
	
	#boxes{
	    justify-content: space-around;
    }	
	.dancingboy-div{
		align-items: center;
		flex-basis: 100%;
		width: 100%;
	}
}
    

