:root {
    --color_one:   #270e01eb;
    --color_two:   #E1F2FE;
    --color_three: #D7D9B1;
    --color_four:  #84ACCE;
    --color_five:  #343640;
}

@font-face {
    font-family: 'charter';
    src: url('../../aesthetic/fonts/charter/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'charter';
    src: url('../../aesthetic/fonts/charter/charter_bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'charter';
    src: url('../../aesthetic/fonts/charter/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color_one);
    font-family: charter;
    color: var(--color_three);
    font-size: 30px;
}

header{
    padding: 3rem;
}
header p {
    font-style: italic;
}

#game-grid {
    padding: 3rem;
}

#game-grid .game-card {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    background: var(--color_two);
    color: var(--color_five);
} 

.game-card .game {
    display: flex;
    background: yellow;
}

.game-card .game .image {
    display: flex;
    padding: 3rem;
    justify-content: center;
}

.game-card .game img {
}

.game-card .game .title-and-designer {
    padding: 3rem;
}

.game-card .game .title-and-designer h3 {
    font-size: 9vw;
    margin-bottom: 0;
}

.game-card .game .title-and-designer p {
    margin-top: 0;
    font-style: italic;
    font-size: 1.2rem;
}


div.game-card .information {
    padding: 2rem;
}

.game-card .information h3 {
    margin-bottom: 0;
    font-size: 8rem;
}

