/* yaaaaaaaaaaaahhhhh*/

:root {
  --body-font_family: 'Fira Sans';
  --body-font_size: 26px;
  --body-font_weight: 200;
  --body_width: 700px;
  --title-font_family: 'Fira Sans';
  --title-font_size: calc(var(--body-font_size) * 3);
  --title-font_weight: 100;
  --title-font_letter-spacing: calc(var(--title-font_size) * 0.25);
  --h2-font_size: calc(var(--body-font_size) * 1.5);
  --h2-font_letter-spacing: calc(var(--h2-font_size) * 0.25);
  --primary_bg: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(33,21,54,1) 100%);
  --primary_color: #FFFCEB;
  --accent_color: #8252a5;
  --reel_color: #1e2860;
  --paragraph_spacing: calc(var(--body-font_size) * 1.5);
  --paragraph_line-height: calc(var(--body-font_size) * 1.2);
  --content-border: 1.5px dashed var(--primary_color);
  --content-border_radius: 10px;
  border-radius:
  
}

body, html, ul, li, h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  min-height: 100vh;
  background: var(--primary_bg);
  color: var(--primary_color);
  font-size: var(--body-font_size);
  font-family: var(--body-font_family);
  animation: undulate 24s infinite alternate;
}

body#entrance main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

body#entrance h1 {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body#entrance h1 span:last-child {
  display: block;
  margin-left: calc(var(--title-font_letter-spacing) * 2); 
}

body#entrance svg {
  fill: var(--accent_color);
  margin-bottom: var(--paragraph_spacing);
}

article {
  position: relative;
  max-width: var(--body_width);
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  background: transparent;
  z-index: 9999999999999;
}

footer {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  margin-bottom: var(--paragraph_spacing);
}

h1 , h2 , h3 {
  font-family: var(--title-font_family);
  font-weight: var(--title-font_weight);
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: var(--title-font_size);
  letter-spacing: var(--title-font_letter-spacing);
}

h2 {
  font-size: var(--h2-font_size);
  letter-spacing: var(--h2-font_letter-spacing);
}

p {
  margin-bottom: var(--paragraph_spacing);
  line-height: var(--paragraph_line-height);
  font-weight: var(--body-font_weight);
}

body#vision h1 {
  animation-name: fade-in;
  animation-duration: 5s;
}
@media (max-width: 667px) {
  body#vision h1 {
    font-size: 1.2em;
  }
}

body#vision p {
  text-align: justify;
  animation-name: fade-in;
  animation-duration: 6s;
}
@media(max-width: 667px) {
  body#vision p {
    text-align: left;
  }
}

body#vision a {
  color: var(--accent_color);
  text-decoration: none;
}

body#vision a:hover {
  background: var(--accent_color);
  color: var(--primary_color);
}

body#toc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body#toc main {
  min-height: 400px;
  max-width: 700px;
  border: var(--content-border);
  border-radius: var(--content-border_radius);
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  animation: fade-in 1s;
}

body#toc h1 {
  text-align: center;
  font-size: var(--body-text_size);
  color: var(--accent_color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: fade-in 1.5s;
}
@media (max-width: 667px) {
  body#toc h1 {
    font-size: 0.75em;
  }
}

body#toc h1 span:last-child {
  /* this makes it so  music visions looks like one intentional word,
     but still breaks responsivley on the two words cos we set the h1 to be a flex with flex wrap*/
  display: block;
  margin-left: var(--title-font_letter-spacing); 
}

body#toc ul {
  animation: fade-in 2s;
  text-align: center;
}

body#toc li {
  display: inline-block;
  list-style-type: none;
}

body#toc li:not(:last-of-type)::after {
  content: "●";
  margin-left: 0.5em;
  margin-right: 0.5em;
}

body#toc a {
  text-decoration: none;
  color: var(--primary_color);
}

body#toc a:hover {
  color: var(--accent_color);
}

body#toc a:visited {
  color: purple;
}


svg#cassette-tape {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.35;
  z-index: 1;
  animation-name: reel-fade-in;
  animation-duration: 1s;
}

path.reel {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation-name: rotate-reels;
  animation-delay: 2s;
  animation-duration: 15.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* The Sweet Animations */

@keyframes rotate-reels {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes reel-fade-in{
  0% {opacity: 0;}
  100%{opacity: 0.35;}
}

@keyframes fade-in{
  0% {opacity: 0;}
  50%{opacity: 0;}
  80% {opacity: 0.66;}
  100% {opacity: 1;}
}

@keyframes fade-out{
  0% {opacity: 1;}
  70% {opacity: 0.6;}
  100% {opacity: 0;}
}

@keyframes undulate{
0%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(33,21,54,1) 100%);}
5%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(33,21,44,1) 100%);}
10%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,62,1) 64%, rgba(33,21,34,1) 100%);}
15%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,64,1) 64%, rgba(33,21,24,1) 100%);}
20%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,66,1) 64%, rgba(33,21,14,1) 100%);}
33%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,68,1) 64%, rgba(33,21,4,1) 100%);}
43%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(43,21,4,1) 100%);}
53%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(53,21,4,1) 100%);}
66%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(63,21,4,1) 100%);}
76%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(66,21,4,1) 100%);}
86%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(68,21,4,1) 100%);}
96%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(70,21,4,1) 100%);}
100%{  background: linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(6,7,60,1) 64%, rgba(73,21,4,1) 100%);}
}
