/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

body {
  padding: 0 20px;
  background: aliceblue;
}

.three-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
}

.three-grid ul{
  margin: 0;
  padding: 0;
}
.three-grid li{
  list-style-type: none;
  padding-left: 0;
}

#good-sites{
}
