<head>
  <title>Thoughts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content = "width=device=width, initial-scale=1">
  <meta name='author' content='yr friend and mine Zach Mandeville!'>
  <meta name='description' content='THESE MY THOUGHTS'> 
  <!-- the facebook stuff -->
  <meta property="og:title" content="Coolguy.Website: THOUGHTS." />
  <meta property="og:type" content="website" />
  <meta name='description' content='THESE MY THOUGHTS'>
  <meta property="og:image"
        content="https://coolguy.website/images/zach-dancing-with-robot.gif"
        />
  <meta property="og:url" content="https://coolguy.website/" />
  <!-- Now the Twitter stuff -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Coolguy.Website: Writing" />
  <meta name='twitter:description' content='THESE MY THOUGHTS'>
  <meta name="twitter:image"
        content="https://coolguy.website/images/zach-dancing-with-robot.gif"
        />
  <!-- Meta is done, now we can add that sweet styling! -->
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <link rel='stylesheet' type='text/css' href='../styles/colors.css'>
<style>
  li{
    margin: 1em;
  }
</style>
</head>
<body>
  <h1>THESE ARE MY THOUGHTS</1>
    <ul>
      <li>You can't get a better breakfast than baked beans and crumpets and a nice orange.</li>
      <li>My Antonia is the greatest book ever written.</li>
      <li>Nothing you are making for a better future matters unless it helps teens have more sex.  If your 'revolutionary' code cannot directly help with this, then you don't actually wanna see the future realized, and your code is secretly funded by suffering.</li>
      <li>Vampire Weekend's 'Step' and Vitamin C's 'Graduation Song' are the same song.</li>
      <li>z tapes is a very good record label.</li>
      <li>Libraries are incredible and getting a library card is 'the purest high'.</li>
      <li>The tiny house libraries that are posted on neighborhood front lawns with a hand made 'give a book, take a book, love' sign are classist, bourgeious bullshit.</li>
      <li>Crows are an emergent civilization.</li>
      <li>People who buy overly fancy houseware products are publicly performing a type of edging.</li>
    </ul>
</body>
</html>

