/************************************************************
 *               Coolguy.Website STYLES!!!                   *
 *-----------------------------------------------------------*
 * My main stylesheet, and the reason why coolguy looks      *
 * sooooo gooooooood.  I was listening to a lot of           *
 * gothboiclique whie writing this, so the site might end   *
 * up more emo teen than intended.                           *
 *                                                           *
 ************************************************************/

/*
I have another file called colors.css that sets up color
variables for things like background, font color, accent color
and so on.  This lets me be able to change the palette of the site
quickly.  So if you see something in this file like:
background: var(--primary_bg) it means I'm using a variable called
--primary_bg which I defined in that colors.css.  So check it out!
*/

/* GLOBAL
These are some global values that I want to apply to the elements themselves */
body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-text);
  font-size: var(--standard-size);
}

li {
  line-height: 1.2em;
  margin-bottom: 1.3em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}


a:after {
  content: "⬫";
  margin-left: 0.1em;
  color: var(--link-symbol_color);
}

a:hover {
  border-bottom: 1px solid var(--primary_color);
}
a:hover:after {
  content: "⬪";
}


figcaption {
  border-top: 1px solid var(--heading-color);
  border-bottom: 1px solid var(--heading-color);
  padding: 0.5em;
  max-width: 500px;
  margin: auto;
  margin-bottom: 3em;
}
@media (max-width: 667px) {
  figcaption {
    margin: 0.5em;
  }
}

figcaption p{
  margin-top: 0.5em;
  font-size: 0.65em;
  font-style: italic;
}

section {
  padding: 3em;
}
@media (max-width: 667px) {
  section {
    padding: 1em;
  }
}


/*
These are some ID and Class specific values.  Id's are represented as #name and class .name
So #greetings corresponds to <section id="greetings"></section> on my home page,
and #greetings h2 corresponds to the <h2> tag inside the <section id='greetings>
and #greetings .words corresponds to anything with the class words in the #greetings section (like <div class='words'>)
*/

/* *B* */
p.breadcrumb {
  position: absolute;
  font-weight: 200;
  font-style: italic;
  font-size: 0.75em;
  top: 0;
  right: 0;
  padding: 1em;
  padding-top: 0;
}

p.breadcrumb strong , a{
  font-weight: 300;
}

p.breadcrumb.bottom{
  position: unset;
  text-align: left;
  padding-top: 1em;
}

/*C*/
#contact {
  background: radial-gradient(ellipse at top, #FFDAB9, lavenderblush, transparent),
              radial-gradient(ellipse at bottom, #539268,transparent);
  padding: 3em;
}


#contact li {
  margin-bottom: 1em;
}
#contact li:first-child {
  margin-top: 1em;
}

#contact details summary{
  list-style-type: none;
}
#contact details summary:before{
  margin-right: 0.5em;
  content: "🔑";
}

#contact details .details-message{
  margin-top: 0;
  background: #89e5a84d;
  padding: 0.5em;
}

#contact details .details-message p:first-child {
  margin-top: 0;
}

#contact details .key {
  font-family: monospace;
}
#contact details aside {
  font-weight: 200;
  font-style: italic;
  font-size: 1.1em;
  padding: auto 1em 1em 1em;
}

/* *G* */
section#greetings {
  display: grid;
  max-width: 100%;
  margin-left: 6em;
  grid-template-columns: 25% 25% 25% 25%;
  margin: auto;
}
/* Media queries adjust properties of your CSS based on the size of
   the browser viewing it.  Our first query would be for ipads or smaller
   browsers, the next is for phones.
*/
@media (max-width: 1100px) {
section#greetings {
  }
}

section#greetings h2 {
  grid-column: 1/3;
  grid-row: 1;
}

section#greetings div.words {
  grid-row: 2;
  grid-column: 1/3;
  
}

section#greetings aside {
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  font-style: italic;
}

section#greetings figure.portrait {
  grid-row: 1/4;
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#greetings .portrait img{
  width: 60%;
}

@media (max-width: 800px) {
  section#greetings h2 {
    grid-column: 1/5;
    grid-row: 1;
  }
  section#greetings div.words {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  section#greetings figure.portrait {
    grid-column: 1/5;
    grid-row: 3/3;
  }
}

figure#hypersigil {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

figure#hypersigil img {
}
/* *H* */
#home {
  background: var(--primary_bg);
  color: var(--primary_color);
  font-size: var(--standard-size);
  font-family: var(--body-text);
}

#home header {
  background: lavenderblush;
  padding: 2em 2em 0.1em 1em;
}

#home header h1 {
  margin-top: 0;
  padding: 0;
  font-family: var(--title-text);
  color: var(--heading_color);
  font-size: 8vw;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 667px) {
  #home header h1 {
    font-size: 11vw;
  }
}

#home header .subtitle {
  margin-top: -0.75em;
  font-size: 1.3em;
  font-weight: 200;
  padding-left: 1em;
}
@media (max-width: 667px) {
  #home header .subtitle {
    font-size: 1em;
    margin-top: -0.5em;
  }
}

#invocation {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  font-size: 0.5em;
  font-weight: 300;
  font-style: italic;
}

/*
   We are applying the invocation to a quote tag (<q>).
   Browsers add in quote marks to these tags,
   but I don't want them, so we are removing them here.
*/
#invocation:before {
  content: none;
}
#invocation:after {
  content: none;
}

.daiso-card {
  /* I got these polka dots from a cool css pattern site: https://leaverou.github.io/css3patterns/#polka-dot */
  background-color: var(--border_bg);
  background-image: radial-gradient(white 15%, transparent 16%),
                    radial-gradient(white 15%, transparent 16%);
  background-size: 8px 8px;
  background-position: 0 0, 20px 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 3em;
  padding: 0.25em;
}
@media (max-width: 667px) {
  .daiso-card{
    margin: 1em;
  }
}

.daiso-page {
  background: lavenderblush;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.daiso-page h2{
  font-family: var(--title-text);
  margin-bottom: 0;
  text-align: left;
  color: var(--tertiary-heading_color);
  width: 100%;
  letter-spacing: 0.25em;
  padding-left: 1.5em;
}

.daiso-page ul {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.25em 0.25em;
  padding: 1em;
  list-style-type: none;
  margin-bottom: 0;
}

.daiso-page li {
  margin-bottom: 1em;
}

section#directory {
  border-top: 3px dotted var(--page-divider_color);
  border-bottom: 3px dotted var(--page-divider_color);
  box-shadow: inset 0 -1px 0 0 var(--page-divider_color), inset 0 1px 0 0 var(--page-divider_color), 0 1px 0 0 var(--page-divider_color), 0 -1px 0 0 var(--page-divider_color);
}

section#directory h2 {
  max-width: 920px;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  font-family: var(--title-text);
  font-size: 1.8em;
  letter-spacing: 0.25em;
  padding: 0.25em;
  background: var(--heading-color);
  color: var(--tertiary-heading_color);
}

section#directory ul {
  display: grid;
  max-width: 940px;
  list-style-type: none;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(50px, auto));
  padding: 0;
}

.directory-item a {
  background: white;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  z-index: 1;
}

.directory-item strong {
  margin-bottom: 1em;
  line-height: 1em;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  font-weight: 300;
  font-family: var(--secondary-heading-text);
}

.directory-item a:after {
  content: none;
}

.directory-item .description {
  color: var(--primary_color);
  margin-bottom: 1.5em;
}

/* .tall is a hack (or maybe proper usage?!) to get all the boxes to line up nice.
   What this means is that if I have a new section whose lines are real long,
   then I need to add this class to it.  I feel this is fine, though, since I
   am not adding new items all that much, and so I don't need this to be all
   calculated and dynamic, and I can keep the site JS-free.
*/

#directory .tall {
  grid-row-end: span 2;
}


.dotted-pattern {
  position: absolute;
  height: 102%;
  width: 100%;
  top: 7px;
  right: 7px;
  background-color:none;
  background-image: radial-gradient(var(--dotted-pattern_bg) 15%, transparent 16%),
                    radial-gradient(var(--dotted-pattern_bg) 15%, transparent 16%);
  background-size: 05px 07px;
  background-position: 11px 11px, 14px 14px;
  z-index: -1
}

#question-page {
  background: var(--primary_bg);
  color: var(--primary_color);
  padding: 3em;
}

#question-success {
  background: var(--primary_bg);
  color: var(--primary_color);
  padding: 3em;
  height: 100vh;
}

@media (max-width: 667px) {
  #question-page {
    padding: 0;  
  }
}

#question-page h1 {
  letter-spacing: 4px;
}
@media (max-width: 667px) {
  #question-page h1{
    margin: 2em auto 0 auto;
    padding-left: 1em;
  }
}

#question-page .daiso-card {
  max-width: 800px;
}

#q-introduction {
  padding-top: 1em;
  font-size: 0.75em;
}

#question-form fieldset {
  margin: 0 2em 2em 2em;
  width: 80%;
  font-size: 0.8em;
  padding: auto 2em 2em 2em;
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
}

#question-form fieldset span {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em; 
}

#question-form fieldset span label {
  padding-left: 0.5em;
}
#question-form label[for="question"] {
  font-family: var(--title-text);
  margin-top: 1em;
  font-size: 1.5em;
}
#question-form textarea {
  margin: 2em;
  padding: 1em;
  font-size: 1em;
  height: 200px;
  border: none;
  width: 79%;
}

#querent aside {
  font-style: italic;
  font-size: 0.75em;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 0;
}

#querent label {
  display: flex;
  margin-bottom: 1em;
}

#querent input {
  margin-left: 1em;
  font-size: 0.8em;
  border: none;
  border-bottom: 1px solid pink;
  background: none;
}

#question-form input[type="radio"] {
  border: none;
  color: var(--primary-color);
}
#question-form input[type="submit"] {
  width: 100%;
  background: pink;
  height: 3em;
  padding: 1em;
  font-size: 1.1em;
  color: var(--primary-color);
  font-weight: 200;
  cursor: pointer;
}

#question-form input[type="submit"]:hover {
  background:   HSL(350, 100%, 90%);
}


/* Updates */

#updates {
  max-width: 960px;
  margin: auto;
  margin-top: 3em;
  background: white;
  padding: 0;
  margin-bottom: 3em;
  padding-bottom: 0.05em;
}

@media (max-width: 667px) {
  #updates {
    margin: 0.5em;
    margin-top: 3em;
  }
}

#updates h2 {
  width: 100%;
  margin: 0;
  background: var(--tertiary-heading_color);
  color: var(--tertiary-heading_bg);
  text-align: center;
  font-family: var(--title-text);
}

#updates h2>span {
  background: none !important;
}

#updates h2 > a:after {
  content: none;
  
}

#updates img {
  height: 1.5em;
  margin-bottom: 0;
}

#updates ul {
  margin: 0.75em;
  padding: 3em;
  background-image: var(--stipple-page_bg);
  background-size: 05px 07px;
  background-position: 11px 11px, 14px 14px;
  list-style-type: circle;
  padding-bottom: 1em;
}

#updates li {
  margin-bottom: 1em;
}
@media (max-width: 667px) {
  #updates ul {
    padding: 1.5em;
  }
}

/* This lets me set different colors for the dotted pattern
   And heading for each item in my directory, while being able to change
   their colors in just one spot.
*/
.friends {
  --dotted-pattern_bg: red;
}
.friends strong {
  border-bottom: 1px solid red;
}

.boardgames{
  --dotted-pattern_bg: red;
}
.boardgames strong {
  border-bottom: 1px solid red;
}

.solarpunk-magic {
  --dotted-pattern_bg: purple;
}

.solarpunk-magic strong {
  border-bottom: 1px solid purple;
}

.computer-thoughts {
  --dotted-pattern_bg: green;
}
.computer-thoughts strong{
  border-bottom: 1px solid green;
}

.projects {
  --dotted-pattern_bg: orange;
}

.projects strong {
  border-bottom: 1px solid orange;
}

.calendar {
  --dotted-pattern_bg: gray;
}

.calendar strong{
  border-bottom: 1px solid gray;
}

.movies {
  --dotted-pattern_bg: blue;
}
.movies strong{
  border-bottom: 1px solid blue;
}

.links {
  --dotted-pattern_bg: violet;
}

.links strong {
  border-bottom: 1px solid violet;
}

.thoughts {
  --dotted-pattern_bg: yellow;
}

.thoughts strong{
  border-bottom: 1px solid yellow;
}

.portraits {
  --dotted-pattern_bg: green;
}

.portraits strong{
  border-bottom: 1px solid green;
}

/* Library
--------*/
.starcloud-bg {
  background-image: url(../assets/dark-sky.jpg);
  background-repeat: repeat-x repeat-y;
  background-size: contain;
  color: white;
font-family: IntervalBook; }

.library {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
padding: 1em; }

.library-shelf {
  max-width: 82%;
  margin: auto;
  margin-bottom: 40px; 
  padding-bottom: 20px;
border: white dotted 1px; }

.book-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 10px; }

.library-shelf_title {
  padding: 0.5em;
  width: 100%;
font-size: 2em; }

.library-book {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
align-items: center; }

.library-book_cover{
  border: white dotted 1px;
max-width: 200px; }

.library-notes {
  background-image: url(../assets/dark-sky.jpg);
  background-repeat: repeat-x repeat-y;
  background-size: cover;
  color: white;
font-family: IntervalBook; }

.notes-thumbnail {
  float: left; 
  width: 200px;
  margin-top: 1.5em;
margin-right: 1em; }

.notes{
  min-height: 400px;
  width: 82%;
  margin: auto;
  text-align: justify;
  border: 1px dashed white;
  padding-left: 1.5em;
  padding-right: 1.5em;
font-size: 1.5em; }

/* Writing
---------*/

.writing{
  background-color: aliceBlue;
  font-size: 20px;
  font-family: var(--body-text);
}

.writing-collection {
  font-size: 1.3em;
  width: 80%;
  margin: 2em auto auto 2em; 
}

.writing-collection li{
  line-height: 1.5em;
  margin-bottom: 1.2em;
}

.writing-collection a{
  text-decoration: none;
  font-size: 1.05em;
  color: var(--writing-link);
}

.writing-piece_titlebox{
  min-height: 75px;
  display: flex; 
  border-left: 2px solid var(--writing-border);
  color: var(--writing-link);
  margin-bottom: 5px;
  border-bottom: 2px solid var(--writing-border); 
}	
@media (max-width: 667px) {
  .writing-piece_titlebox {
    min-height: 0;
  }
}

.writing-piece_title-wedge{
  width: 1%;
  border-top: 2px solid var(--writing-border);
  margin-right: 10px;
  border-right: 2px solid var(--writing-border);
  background-color: var(--writing-bg); 
}

.writing-piece_titlebox h1{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.writing-piece_byline{
  text-align: right;
  font-size: 1em;
  margin: 0;
  color: var(--purple-dusk);
}

.writing article{
  margin-top: 2em;
  font-size: 1.3em;
  line-height: 1.5em;
}

.writing-piece_accent{
color: var(--orange-dust);
}

/*
Funwater Awesome Library
*/
.note{
  font-size: 0.7em;
}
#zine-grid{
  display: grid;
  width: 80%;
  margin-top: 1em;
  grid-template-columns: 1fr 1fr;
  grid-grap: 1em;
  margin: auto;
}
  @media (max-width: 667px){
    #zine-grid{
      grid-template-columns: 1fr;
    }
  }

#zine-grid li{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#zine-grid img{
  max-width: auto;
  max-height: 500px;
}


/* Media Queries BABYEEE!
 ************************/

@media (max-width: 1100px){
  .book-grid {
  grid-template-columns: 1fr 1fr; }

}

/* figure { */
/*   max-width: 950px; */
/*   margin: auto; */
/*   margin-bottom: 3em; */
/* } */
/* figure img { */
/*   max-width: 90%; */
/* } */

@media (max-width: 667px) {
  #home header {
    padding-top: 3em;
  }
  figure#hypersigil img {
    width: 100%;
  }
}
