body {
  background: #eeeeee;
  color: purple;
  font-family: charter;
  font-size: 24px;
}

a {
  text-decoration: none;
}

section#moon-phase {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  text-align: left;
  padding: 1em;
}

section#sunrise-sunset {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  text-align: right;
  padding: 1em;
}

section p {
  margin: 0;
}

section#greets {
  font-weight: 500;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 600px;
  margin: auto;
}

section#greets p {
  filter: hue-rotate(39deg);
}

span.rise {
  filter: hue-rotate(290deg);
}

span.set {
  filter: hue-rotate(170deg);
}

span.temp {
  filter: hue-rotate(deg);
}

section#greets a {
  text-decoration: none;
  margin-top: 2em;
  font-size: 0.8em;
  font-variant-caps: small-caps;
  color: inherit;
}
section#greets a:before ,
section#greets a:after {
  content: "◊";
  color: cornflowerblue;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
