body{
  padding: 0;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background: var(--projects-bg);
  color: var(--projects-text);
  font-size: 18px;
  font-family: arial;
}

.diaryland-template{
	display: flex;
	flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  width: 80% ;
  margin-left: 2em ;
}

#diaryland-content{
  overflow-x: hidden;
  padding: 1rem;
}

#story{
  width: 66%;
}

#code pre{
}

p{
  font-size: 1.3em;
}

.projects-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  height: calc(100vh*.66);
}


.projects-grid h1{
  font-size: 6em;
  margin-top: 0;
}

#guiding-image{
  padding-top: -0.5em;
  position: fixed;
  height: 100vh;
  z-index: -1
}

.projects-list {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}

.projects-list a{
  color: black;
  text-decoration: none;
}

.projects-list a:hover{
  font-style: italic;
  text-decoration: none;
  font-size: 1.8em;
}

#coordinates{
  height: calc(100vh/6);
}

#project{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#project-name{
  font-size: 4em;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

#project-name > a{
  text-decoration: none;
  color: black;
}

#project section{
  min-height: 100vh;
  width: 70%;
  margin: auto;
  padding-bottom: 2em;
}

#project section:not(:target) {
  display: none;
}
#project section:target) {
  display: block;
}


section h1{
  font-size: 3em;
}

#project img{
  width: 80%;
  margin: auto;
}

#project h2{
  font-size: 2.5em;
}

#project h3{
  font-size: 2em;
}

#elizas-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
  @media (max-width: 667px){
    #elizas-list{
      grid-template-columns: 1fr;
    }
  }

.eliza {
  text-align: center;
  padding: 0.25em;
  border-radius: 3%;
}

.eliza.diary{
  background: lavender;
}

.eliza a{
  font-size: 1.5em;
}

.eliza.diary a{
  color: orange;
}

.eliza p{
  font-size: 0.8em;
}

#diary-eliza{
	background: lavender;
}

#diary-eliza h1{
font-size: 10vw;
width: 100%;
margin-bottom: 0;
text-align: left;
color: white;
margin-top: -0.5em;
text-shadow: -3px 0 orange,0 1px orange, 1px 0 orange, 0 -1px orange;
font-family: monospace;
}

.eliza-links{
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9em;
}

.eliza-links.diary {
  background-color: white;
  border: 1px dashed black;
  box-shadow: 1px 1px 2px black;
}
.eliza-links pre{
  font-size: 1.3em;
  color: gray;
  margin-top: 0;
  margin-bottom: 1.3em;
}

.eliza-links li{
  font-family: monospace;
  margin-bottom: 1em;
}

.eliza-links a{
  text-decoration: none;
  font-size: 1.2em;
  color: green;
  margin-left: 1em;
  margin-right: 1em;
}

.eliza-links a::after{
  content='!!*';
}

.divider{
width: 100%;
text-align: center;
color: lavender;
}

.project-links{
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
}
 @media(max-width: 667px) {
   .project-links {
   flex-direction: column;
   font-size: 1.5em;
  }
 }


.project-links li{
  margin-right: 1em;
}

.project-links a{
  text-decoration: none;
  color: black;
}

.project-links a:hover{
  font-style: italic;
}

#summary {
  font-style: italic;
  color: gray;
  padding: 1em;
  text-align: right;
  width: 80%;
  margin: auto;
}

.hidden{
  display: none;
}

#changelog > h1{
  margin-bottom: 0;
}

#changelog > p{
  margin-top: 0;
  font-size: 0.9em;
  margin-bottom: 3em;
}

#changes li{
  border: 1px solid black;
  padding: 0.5em;
}

.change li{
  border: none !important;
  margin-left: 2em;
  list-style-type: square;
}
.change-date{
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1.5px, darkgray 2px, lightgray 6px);
  margin: -0.38em -0.4em auto -0.4em;
  padding: 0.25em;
}

/* How it Works
---------------*/

#how-it-works h2{
font-size: 2em;
}

#terms li{
font-size: 1.3em;
margin-bottom: 1em;
margin-top: 1em;
}

#terms strong{
font-size: 1.4em;
}

.template-link{
margin-top: -0.7em;
}
.template-link span{
background-color: yellow;
}


