article {
  width: 80%;
  padding: 0.25em;
  margin: auto;
}
figure , img {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

figure img {
  border: 1px solid black;
}

figcaption {
  font-size: 0.75em;
  text-align: center;
  font-style: italic;
}


.wrap {
  margin: 0.5em;
}

.wrap.right {
  float: right;
}

.wrap.left {
  float: left;
}



