.two-column-grid{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: 2em;
}
@media (max-width: 667px) {
  .two-column-grid{
    width: 95%;
    grid-template-columns: 1fr;
  }
}

.link-block {
  background-color: aliceblue;
  border: 1px solid black;
}


.link-block h2{
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1.5px, aliceblue 2px, aliceblue 6px);
  margin: -1px;
  padding: 0.5em;
  border: 1px solid black;
}

.link-block p{
  padding: 0.5em;
}

#friends h2{
  background-color: var(--friends-bg);
  color: var(--friend-text);
}

#bands h2{
  background-color: var(--bands-bg);
  color: var(--bands-text);
}
#bands ul{
  columns: 3;
}

#tools h2{
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1.5px, var(--tools-bg) 2px, var(--tools-bg) 6px);
  background-color: var(--tools-stripe);
  color: var(--tools-text);
}
#music-blogs h2{
  background-color: var(--music-blogs-bg);
  color: var(--music-blogs-text);
}
#dat h2{
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1.5px, var(--dat-bg) 2px, var(--dat-bg) 6px);
  background-color: var(--dat-stripe);
  color: var(--dat-text);
}

.link-block ul{
  padding: 1.5em;
}

.link-block li>p{
  padding: 0;
}

.link-block.long {
  grid-row-end: span 2;
}

/* Colors 
---------*/

:root {
  --friends-bg: peachpuff;
  --friend-text: indigo; 
  --tools-bg: #2F188A;
  --tools-stripe: #D231D8;
  --tools-text: white;
  --dat-bg: green;
  --dat-stripe: red;
  --dat-text: white;
  --music-blogs-bg: orange;
  --music-blogs-text: blue;
  --bands-bg: chartreuse;
  --bands-stripe: ;
  --bands-text: lightpurple;

}
