@font-face {
    font-family: 'charter';
    src: url('../aesthetic/fonts/charter/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('assets/stars.gif');
    color: white;
    font-family: 'charter';
    font-size: 30px;
}

h2{
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.level2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.level2:last-of-type {
    margin-bottom: 3em;
}

.level2 h2{
    grid-row: 1;
    grid-column: 1 / span 2;
}

.level2 > div:nth-child(even) {
    border-right: none;
}

.level2 > div:nth-last-child(2) {
    border-bottom: 2px dotted white;
}

.level2 > div:nth-last-child(1) {
    border-bottom: 2px dotted white;
    border-right: 2px dotted white !important;
}

/* level3 is the cells of each book, containing the cover, the title, the author
   and a link to the notes
*/
.level3 {
    border-top: 2px dotted white;
    border-left: 2px dotted white;
    border-right: 2px dotted white;
    padding: 0;
    display: grid;
    grid-template-areas: "cover"
                        "title"
                        "byline"
                        "notes";
}

.level3 img{
    grid-area: cover;
    position: relative;
    height: 40vh;
    margin: auto;
    margin-bottom: 0;
    display: flex;
}

.level3 p:first-of-type {
    margin-bottom: 0;
}

.level3 h3 {
    grid-area: title;
    margin: 0.5em 0.5em 0 0.5em;
    text-align: center;
}

.fun.level3 p{
  text-align: left;
}

.level3 p:last-of-type{
    grid-area: byline;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}


.level3 h4 {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    grid-area: notes;
}

.hidden {
    display: none !important;
}

#bookshelves {
    width: 90%;
    margin: auto;
}

.level4 h4{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.level4 p{
    display: none;
}

.fun {
    height: 100vh;
    overflow-y: scroll;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: black;
    color: peachpuff;
}

.fun.level3 {
    background: url('assets/stars.gif');  
}

.fun.level3 p:last-of-type {
    margin-top: 0;
}

.fun.level3 img{
    height: 70vh;
    margin: auto;
}

.fun.level3 h3{
    margin-top: 2em;
    margin-bottom: 0;
}

.fun .level4 {
    background: peachpuff;
    color: indigo;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1 / span 4;
    overflow-y: scroll;
    padding: 3em;

}
.fun .level4 h4 {
    text-decoration: none;
    color: gray;
    text-align: left;
}

.fun p {
    display: inline-block !important;
    text-align: left;
}

.fun button {
    color: gray;
    font-size: 0.8em;
    position: fixed;
    top: 7px;
    right: 7px;
    background: none !important;
    border: 0;
    cursor: pointer;

}

/* Let's Setup the Good Fonts */
