:root {
  --primary_bg: lavender;
  --primary_color: #5E2CA5;
  --accent_color: #4b9cae;
  --primary-font: 'charter';
  --secondary-font: 'charter';
  --body-text_size: 28px;
  --section-spacing: calc(var(--body-text_size) * 2);
  --body-text_weight: 300;
  --body-text_font: var(--primary-font);
  --body-text_line-height: calc(var(--body-text_size) * 1.25);
  --paragraph-spacing: calc(var(--body-text_size) * 1.1);
  --title_font: var(--secondary-font);
  --title_weight: 100;

  --blue_bg: #357EDD;
  --blue_color: #FFDFDF;
  --red_bg: #E7040F;
  --red_color: #EEEEEE;
  --light-blue_bg: #CDECFF;
  --light-blue_color: #5E2CA5;
  --green_bg: #9EEBCF;
  --green_color: #D5008F;
}


body {
  background: var(--primary_bg);
  color: var(--primary_color);
  font-size: var(--body-text_size);
  font-family: var(--body-text_font);
  padding: 0.25em;
}

a {
  color: var(--accent_color);
  text-decoration: none;
}

a:after{
  content: "⧫";
}

main {
  max-width: 700px;
  margin-left: 5vw;
}

header {
  margin-left: 5vw;
  margin-bottom: 5rem;
  font-size: 0.65em;
}

header pre {
  font-size: 2vw;
}

header a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  width: 100%;
  letter-spacing: 0.15em;
  font-style: italic;
  font-feature-settings: 'smcp';
}
abbr {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 5rem;
   }

p {
  line-height: var(--body-text_line-height);
}

p.breadcrumb {
  font-size: 1em;
  text-align: right;
  font-style: italic;
}

p.breadcrumb.bottom {
  text-align: left;
}


p.breadcrumb a {
  font-family: var(--secondary-font);
  text-decoration: none;
}
section p:first-of-type {
  margin-top: 3em;
  padding-top: 3em;
  padding-right: 1.5em;
}

footer {
  max-width: 700px;
  margin: auto;
}

.mb0 {
  margin-bottom: 0;
}

p.pause {
  font-size: 1.4em;
  text-align: center;
}

p.break {
  font-size: 2em;
  margin: 1.25em;
  text-align: center;
}

h2 span {
  font-size: 2.5em;
  padding-right: 0.5em;
}
h2 {
  padding-left: 0;
  font-weight: 200;
  font-size: 0.5em;
}
dl > span.dotted-pattern {
  margin: 0;
  background: transparent;
  position: absolute;
  height: 98%;
  width: 95%;
  top: 5px;
  right: 5px;
  background-color:none;
  background-image: radial-gradient(var(--primary_color) 15%, transparent 16%),
                    radial-gradient(var(--primary_color) 15%, transparent 16%);
  background-size: 7px 8px;
  background-position: 11px 11px, 14px 14px;
  z-index: -1
}

pre {
  font-family: monospace;
  font-weight: 800;
  color: var(--accent_color);
}

.mood {
  width: auto;
  display: flex;
  width: 33%;
  padding: 0;
  margin: 0;
  position: relative;
}

.mood dt {
  background: var(--primary_color);
  color: blanchedAlmond;
  padding: 0 0.25em 0 0.25em;
  margin: 0;
}

.mood dd {
  width: 100%;
  text-align: center;
  padding:0;
  margin: 0;
  padding-left: 0.5em;
}

.mood dd.blue {
  background: var(--blue_bg);
  color: var(--blue_color);
}

.mood dd.light-blue {
  background: var(--light-blue_bg);
  color: var(--light-blue_color);
}

.mood dd.red {
  background: var(--red_bg);
  color: var(--red_color);
}

.mood dd.green {
  background: var(--green_bg);
  color: var(--green_color);
}
