:root {
  --primary_bg: peachpuff;
  --primary_color: indigo;
  --accent_color: indigo;
  --primary-font: 'charter';
  --secondary-font: 'Fira Sans';
  --body-width: 700px;
  --body-text_size: 26px;
  --section-spacing: calc(var(--body-text_size) * 2);
  --body-text_weight: 300;
  --body-text_font: var(--primary-font);
  --body-text_line-height: calc(var(--body-text_size) * 1.2);
  --paragraph-spacing: calc(var(--body-text_size) *1);
  --title_font: var(--secondary-font);
  --title_weight: 100;
}

body {
  background: var(--primary_bg);
  color: var(--primary_color);
  font-size: var(--body-text_size);
  font-family: var(--body-text_font);
}

a {
  color: var(--accent_color);
}
header, article {
  max-width: var(--body-width);
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: var(--title_font);
  font-weight: 100;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 4rem;
   }

h2 {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}


p {
  line-height: var(--body-text_line-height);
}

p.breadcrumb {
  font-size: 0.5em;
  text-align: right;
  font-style: italic;
}

p.breadcrumb.bottom {
  text-align: left;
}


p.breadcrumb a {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 0.9em;
}
section p:first-of-type {
  margin-top: 3em;
  padding-top: 3em;
  padding-right: 1.5em;
}

footer {
  max-width: var(--body-width);
  margin: auto;
}
p.quick-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-top: 0;
  text-align: center;
}

p.quick-link a {
  text-decoration: none; 
}

.mb0 {
  margin-bottom: 0;
}

dl {
  max-width: var(--body-width);
  margin: auto;
  margin-top: var(--section-spacing);
}

dt {
  font-family: var(--title_font);
  font-size: 1.5em;
  font-weight: var(--title_weight);
  text-align: center;
  margin-bottom: 0;
}

dt a {
  text-decoration: none;
  color: unset;
  padding: 0.1em;
}

dt:hover a {
  background: var(--accent_color);
  color: var(--primary_bg);
}

dd {
  padding: 0;
  max-width: 75%;
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
  font-style: italic;
  font-size: 0.75em;
}

figure {
  width: var(--body_width);
  margin: auto;
  margin-top: var(--paragraph-spacing);
  margin-bottom: calc(var(--paragraph-spacing) * 2);
  border: 1px solid var(--primary_color);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-family: var(--secondary-font);
  font-size: 0.66em;
  font-weight: 200;
  font-style: italic;
  padding: 0.66em;
  width: calc(100% - 0.66em * 2);
  margin-top: 0;
  border-top: 1px solid var(--primary_color);
}
